<svg class="hangman-svg" viewBox="0 0 10 12" xmlns="http://www.w3.org/2000/svg">
  <ng-container *ngFor="let part of visibleParts">
    <circle
      *ngIf="part.type === 'circle'"
      [attr.cx]="part.cx"
      [attr.cy]="part.cy"
      [attr.r]="part.r"
      class="hangman-part"
      [class.animated]="part.animated">
    </circle>
    <path
      *ngIf="part.type === 'path'"
      [attr.d]="part.d"
      class="hangman-part"
      [class.animated]="part.animated">
    </path>
  </ng-container>
</svg>
